@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0B0B0B;
  color: #fff;
}

.btn-gold {
  background-color: #FFD700;
  color: #000;
  font-weight: bold;
  transition: all 0.3s;
}
.btn-gold:hover {
  opacity: 0.85;
}
